/bin/
/target/
/.mvn/
.classpath
/.settings/
src/main/resources/static/src/client/public/
src/main/resources/supplier.properties
.project
/tokens/
src/main/resources/static/node_modules/
*/**/.idea
/data
src/test/resources/data-files/**
